.weather-app {
  max-width: 800px;
  max-height: 800px;
  margin: 30px auto;
  margin-bottom: 10px;
  padding: 20px 30px 20px 30px;
  border: 1px solid black;
  border-radius: 5px;
  background: rgb(240, 236, 231);
  font-family: "Playfair Display", serif;
  background-size: cover;
  text-align: justify;
  color: black;
}

#weather-today {
  text-align: center;
}
input {
  border-radius: 10px;
}
#location {
  margin-top: 20px;
}
#city {
  font-size: 55px;
  font-weight: 800;
  /* color: black; */
}
h2 {
  text-align: center;
}
h4,
h5 {
  text-align: right;
  padding-right: 20px;
}
#date {
  font-size: 18px;
  text-align: right;
  margin-right: -10px;
  font-weight: 800;
  /* color: black; */
}
#time {
  font-size: 18px;
  text-align: right;
  margin-right: -10px;
  font-weight: 800;
  /* color: black; */
}
#current-icon {
  padding-top: 20px;
  text-align: center;
}
#temperature {
  font-size: 65px;
  font-weight: 900;
  text-align: center;
  /* color: black; */
}
#units {
  font-size: 25px;
  font-weight: 600;
  /* color: black; */
}
#description {
  font-size: 20px;
  font-weight: 700;
  margin-top: -5px;
  text-transform: capitalize;
  text-align: center;
  /* color: black; */
}
.details {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
  color: black;
}

li i {
  padding-right: 20px;
}
ul {
  list-style: none;
}
li {
  padding-top: 40px;
  font-size: 20px;
  display: inline;
  margin: 0 40px 0;
}
#forecast {
  text-align: center;
  background-color: rgba(178, 175, 175, 0.577);
  backdrop-filter: blur(0.2px);
  color: rgb(7, 7, 7);
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
}
/* rgba(199, 196, 196, 0.507); */

.day-1 {
  font-size: 20px;
  font-weight: 700;
  color: aliceblue;
  margin-bottom: -5px;
}
.temp-1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: -5px;
}
.temp-max1 {
  font-size: 18px;
}

.temp-min1 {
  opacity: 0.6;
}
#current-location-button {
  background: transparent;
  border-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
img {
  transition: 1s ease;
}

img:hover {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
  transition: 1s ease;
}
small {
  text-align: center;
}
#mainIcon {
  text-align: center;
}
.current-temp .active {
  /* color: black; */
  cursor: default;
  font-weight: 700;
}
.current-temp .active:hover {
  text-decoration: none;
}
#celsius,
#fahrenheit {
  text-decoration: none;
  text-align: center;
}

/*  for minus forecast box -  background-color: rgba(178, 175, 175, 0.741); */
